* {margin: 0; padding: 0; list-style: none;}

body {
    height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;

    background: linear-gradient(#00416B, #02AFE7);
}

main {
    width: 90vw;
    max-width: 994px;
    height: 90vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    text-align: center;
}

section {
    display: none;
}

.active {
    display: block;
}

.inative {
    display: none;
}

.row { 
    width: 100%;
    margin: 15px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 250px;
    height: 25px;

    display: block;
    border: 0;
    border-radius: 5px;

    font-size: 12pt;
    text-align: center;
}

button {
    width: 122px;
    margin: 0 auto;
}

#controlls {
    display: flex;
}

input:required:focus, input:required{
    outline-color: #BA7A16;
    outline: thin dotted \9;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#result-section {
    height: 264px;
}

table {
    border: 1px solid #fff;
}

tr, th {
    border: 1px solid #fff;
    padding: 10px;
}