body{
    font-family: arial;
    font-weight: 600;
}

input, select{
    height: 35px;
    width: 400px;
    border: 1px solid #9d9b9b;
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}

input[type="submit"]{
    background-color: #00ec85;
    color: #ffffff;
    font-size: 20px;
}